/* General styling for sections and cards */
section {
    width: 100%;
}

.card {
    margin: 3vw;
    border-radius: 10px;
    padding: 3vw;
    border: 1px solid black;
}

header,
footer {
    background-color: #003366;
    color: white;
    padding: 1em;
    text-align: center;
}

header h1 {
    color: white;
    margin-left: 10px;
}

html {
    background-color: #f4f1de;
    font-family: 'quicksand', sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3vw;
    margin: 1vw;
}

nav a {
    padding: 5px;
    text-decoration: none;
    color: white;
    position: relative;
    padding-bottom: 5px;
}

nav a::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #A8DADC;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

nav a:hover::before {
    transform: scaleX(1);
}

li {
    list-style-type: none;
}

main {
    max-width: 1500px;
    margin: auto;
}

#company-spotlights .card {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

main h2 {
    text-decoration: underline;
    text-align: center;
}

#menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2rem;
    background: none;
    border: none;
}