    header {
        display: flex;
        align-items: center;
        background-color: #2D6A4F;
        justify-content: space-evenly;
        padding: 3vw;
        border-radius: 10px;
    }

    header h1 {
        color: white;
        margin-left: 10px;
    }

    html {
        background-color: #f4f1de;
        font-family: 'quicksand', sans-serif;
    }

    .card {
        margin: 3vw;
        border-radius: 10px;
        padding: 3vw;    
        border: 1px;
        border-style: solid;
        border-color: black;
    }


    #profilePic {
    border-radius: 10px;
    }         
        
    nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #3D405B;
        padding: 3vw;
        border-radius: 10px;
        margin: 1vw;
    }
    

    nav a {
        padding: 5px;
        text-decoration: none;
        color: White;
        position: relative;
    }

    nav a::after {
        content: '➡️';
        position: absolute;
        right: -15px;
        color: white;
        font-size: 1rem;
    }

    nav a:hover::after {
        color: #A8DADC;
    }

    li {
        list-style-type: none;
    }

    main {
        max-width: 1500px;
        margin: auto;
    }
    main h2 {
        text-decoration: underline;
        text-align: center;
    }

    footer {
        text-align: center;
        background-color: #2D6A4F;
        padding: 3vw;
        color: white;
    }

    #menu-toggle {
        display: none;
        cursor: pointer;
        font-size: 2rem;
        background: none;
        border: none;
    }

    @media (max-width: 599px) {
        #menu-toggle {
            display: block;
        }

        #main-nav {
            display: none;
        }

        #main-nav.show {
            display: block;
        }

        nav {
            flex-direction: column;
        }
    }