@media (min-width: 600px) {
    nav {
        flex-direction: row;
        justify-content: center;
    }

    nav a {
        position: relative;
        padding-bottom: 5px;
        /* Ensure space for the underline */
    }

    nav a::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        background-color: #A8DADC;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    nav a:hover::before {
        transform: scaleX(1);
    }

    #cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1rem;
    }

    main h2 {
        grid-column: span 2;
        text-align: center;
    }

    .overlay {
        top: 20px;
        left: 20px;
    }
}